@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background-color: rgb(209, 209, 209);
}

body {
    margin: 0;
    font-family: 'Ubuntu Mono';
}

.board {
    /* margin-top: calc(50vh - 35vh); */
    margin-left: calc(50vw - 45vh);
    width: 70vh;
    height: 60vh;
    background-color: rgb(4, 0, 219);
    float: left;
    border-spacing: 0;
    /* border-collapse: collapse; */
    border-collapse: separate;
}

.board td {
    border: 1vh solid rgb(14, 0, 136);
    border-radius: 50%;
    text-align: center;
    font-size: calc(70vh / 9);
    /* color: rgb(6, 173, 81); */
    width: calc(70vh / 7);
    height: calc(60vh / 6);
}

#mainHeader {
    text-align: center;
    margin-top: calc(50vh - 35vh);
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    /* float: center; */
}

.info {
    background-color: rgb(110, 110, 110);
    /* margin-top: calc(50vh - 35vh); */
    padding-left: 40px;
    width: 20vh;
    height: 60vh;
    float: left;
    padding-left: 20px;
}

p {
    text-align: center;
    margin-top: 0;
}

.pClass {
    /* I want to change the color of the text in the p tag */
    color: rgb(0, 247, 255);
}

.yellowP {
    color: rgb(255, 255, 72);
}

.redP {
    color: rgb(255, 57, 57);
}

.empty {
    width: 90%;
    height: 90%;
    margin: auto;
    /* border-radius: 50%; */
    background-color: rgb(209, 209, 209);
}

.yellow {
    width: 90%;
    height: 90%;
    margin: auto;
    /* border-radius: 50%; */
    background-color: rgb(255, 255, 72);
}

.red {
    width: 90%;
    height: 90%;
    margin: auto;
    /* border-radius: 50%; */
    background-color: rgb(255, 57, 57);
}

@media (orientation: portrait) {
    .board {
        /* margin-top: calc(50vh - 48vw); */
        margin-left: calc(50vw - 40vw);
        width: 80vw;
        height: 70vw;
        float: none;
    }

    #mainHeader {
        margin-top: calc(50vh - 48vh);
    }

    .info {
        margin-top: 0;
        margin-left: calc(50vw - 40vw);
        height: 16vw;
        width: 80vw;
        height: inherit;
        float: none;
        padding-left: 0;
        padding-top: 10px;
    }

    .board td {
        border: 1vw solid rgb(14, 0, 136);
        width: calc(80vw / 7);
        height: calc(70vw / 6);
        font-size: calc(80vw / 9);
    }
}