@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background-color: rgb(209, 209, 209);
}

body {
    margin: 0;
    font-family: 'Ubuntu Mono';
}

.board {
    /* margin-top: calc(50vh - 35vh); */
    margin-left: calc(50vw - 45vh);
    width: 70vh;
    height: 60vh;
    background-color: rgb(4, 0, 219);
    float: left;
    border-spacing: 0;
    border-collapse: separate;
}

.board td {
    border: 1vh solid rgb(14, 0, 136);
    border-radius: 50%;
    text-align: center;
    font-size: calc(70vh / 9);
    width: calc(70vh / 7);
    height: calc(60vh / 6);
}

.mainHeader {
    text-align: center;
    margin-top: calc(50vh - 44vh);
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}

.rules {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}

.info {
    background-color: rgb(0, 0, 0);
    /* margin-top: calc(50vh - 35vh); */
    padding: 10px 10px 0 10px;
    width: 20vh;
    /* width: calc(20vw - 15vh); */
    height: 60vh;
    float: left;
}

label,
p,
h2 {
    text-align: left;
    margin-top: 0;
    color: rgb(212, 235, 255);
    font-size: calc(20vh / 12);
}

input[type="radio"] {
    margin: 0 0 0 0;
    /* top right bottom left */
    display: inline-block;
}

.player {
    accent-color: rgb(0, 111, 207);
}

.easyBot {
    accent-color: rgb(0, 185, 40);
}

.hardBot {
    accent-color: rgb(255, 0, 0);
}

.inputLabel {
    width: 50%;
    display: inline-block;
}

button {
    margin: 5px 0 0 0;
}

/* @media (max-aspect-ratio: 550 / 1920) {

    label,
    p,
    h2 {
        font-size: calc(20vh / 20);
    }
} */

.tealP {
    color: rgb(0, 255, 255);
}

.yellowP {
    color: rgb(255, 255, 72);
}

.redP {
    color: rgb(255, 57, 57);
}

.empty {
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: rgb(209, 209, 209);
}

.yellow {
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: rgb(255, 255, 72);
}

.red {
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: rgb(255, 57, 57);
}

.last-played {
    animation: last-played 0.5s ease-in-out forwards;
}

@keyframes last-played {
    0% {
        transform: scale(1);
        border: 1vh solid rgb(14, 0, 136);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        border: 1vh solid rgb(0, 255, 255);
    }
}

@media (orientation: portrait) {
    .board {
        /* margin-top: calc(50vh - 48vw); */
        margin-left: calc(50vw - 40vw);
        width: 80vw;
        height: 70vw;
        float: none;
    }

    .mainHeader {
        margin-top: calc(50vh - 48vh);
    }

    .info {
        margin-top: 0;
        margin-left: calc(50vw - 40vw);
        height: 16vw;
        width: 80vw;
        height: inherit;
        float: none;
        padding: 10px 10px 0 10px;
    }

    .board td {
        border: 1vw solid rgb(14, 0, 136);
        width: calc(80vw / 7);
        height: calc(70vw / 6);
        font-size: calc(80vw / 9);
    }

    input {
        font-size: calc(80vw / 17);
    }

    input[type="radio"] {
        /* increase size of the radio buttons */
        transform: scale(2);
        margin: 10px;
    }
}